<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a Movie</title>

</head>
<body>
    <h1>Enregistrer un film</h1>
    <form method="post" action="movie" th:object="${movieForm}">
        <p>
            Titre: <input type="text" th:field="*{title}" />
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </p>
        <p>
        Genre:
            <select th:field="*{genre}">
                <option th:value="COMEDIE" th:text="Comédie"></option>
                <option th:value="HORREUR" th:text="Horreur"></option>
                <option th:value="THRILLER" th:text="Thriller"></option>
                <option th:value="ACTION" th:text="Action"></option>
                <option th:value="ROMANTIQUE" th:text="Romantique"></option>
                <option th:value="DRAME" th:text="Drame"></option>
                <option th:value="ANIMATION" th:text="Animation"></option>
            </select>
            <div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></div>
        </p>
        <p>
            Description: <textarea maxlength="300" th:field="*{description}"></textarea>
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </p>
        <input type="submit" value="OK">
    </form>

</body>
</html>