<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

</head>
<body>
    <h1>Les films de notre catalogue</h1>
    <p>
        <a href="">Nouveau film</a>
    </p>
    <table border="1">
        <thead>
            <th>Titre</th>
            <th>Genre</th>
        </thead>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.title}">Titre</td>
            <td th:text="${movie.genre}">Genre</td>
        </tr>
    </table>
</body>
</html>